<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row double">
            <div class="6u">
                <ul class="icons">
                    <li><a href="https://www.facebook.com/groups/273017493092048/" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                </ul>
            </div>
        </div>
        <ul class="copyright">
            <li>&copy; Tesla Club Portugal. All rights reserved.</li>
        </ul>
    </div>
</footer>
